# Compiled Object files
*.o
*.obj

# Compiled executables
*.exe
*.out
*.app
/mini_compiler/mini_compiler
/mini_compiler/mini_compiler.exe

# Build outputs
output.asm

# macOS specific
.DS_Store
__MACOSX/
